<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>FeelTrip</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>FeelTrip</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>com.apple.developer.associated-domains</key>
		<array>
			<string>applinks:feeltrip.app</string>
		</array>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Mantente conectado con las mejores agencias verificadas incluso en segundo plano.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Usamos tu ubicación para mostrarte las experiencias vivenciales más cercanas.</string>
		<key>NSCameraUsageDescription</key>
		<string>FeelTrip necesita acceso a la cámara para identificar destinos y experiencias.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>FeelTrip necesita acceso al micrófono para grabar videos de tus viajes.</string>
		<key>GMSApiKey</key>
		<string>AIzaSyC7t5MPjy1ZJ8-gOwZqJR88KidbXqaIhIg</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
			<string>http</string>
		</array>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>FeelTrip necesita acceso a tu galería para que puedas añadir fotos a tus momentos y crónicas de viaje.</string>
		<key>NSUserTrackingUsageDescription</key>
		<string>Tu identificador se utilizará para ofrecerte experiencias de viaje personalizadas y mejorar nuestras recomendaciones de aventura.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>FeelTrip utiliza reconocimiento de voz para transcribir tus relatos de viaje en crónicas poéticas y reflexivas.</string>
		<key>NSFaceIDUsageDescription</key>
		<string>FeelTrip utiliza Face ID para proteger el acceso a tu diario personal y asegurar tus recuerdos.</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.REPLACE_WITH_YOUR_ID</string>
					<string>feeltrip</string>
				</array>
			</dict>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
